html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__heading {
    margin: 7.5px 15px;
    font-size: 3.0rem;
    font-family: 'jsMath-cmti10',
        sans-serif;
    font-weight: normal;
    color: #F5C800;
}

.content {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;
    flex-grow: 1;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.button {
    height: 50px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}